.carrossel__titulo{
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--cor-texto-destaque);
    font-weight: 700;
    background-color: var(--cor-section-padrao);

}

.swiper{
    display: flex;
    flex-direction: column-reverse;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-next, .swiper-button-prev{
    display: none;
}

.swiper-pagination{
    position: initial;
}

.card{
    background-color: var(--cor-section-padrao);
    box-shadow: 0px 4px 4px 0px #00000040;
    margin: 1.5rem;
    padding: 1.5rem;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    gap: 12px   ;
}

.descricao{
    gap: 1rem;
}

.descricao__titulo{
    color: var(--cor-texto-destaque);
    font-weight: 700;
}

.descricao__titulo-livro{
    background: var(--cor-section-destaque);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;      
    margin: 0.5em 0;
}

.descricao__texto{
    color: var(--cor-texto);
}

.descricao__imagem{
    display: flex;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{    
    display: flex;
    align-items: center;
}

.botoes__item{
    margin: 0.5rem;
}

.botoes__secreto{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    padding: 1rem;
    }

.botoes__link{
    background-color: var(--cor-texto-destaque);
    color: var(--cor-section-padrao);
    font-weight: 700;
    padding: 0.2rem 1rem;
}
@media screen and (min-width: 1024px){
    .descricao{
        margin: 10% 0;
    }
.descricao__titulo{
    font-size: 24px;
}
.descricao__titulo-livro{
    font-size: 22px;
}

    .descricao__texto{
        font-size: 18px;
    }
}

@media screen and (min-width: 1366px){
    .card__descricao{
        justify-content: space-evenly;
    }
    .descricao__imagem{
        width: 20%;
        height: auto;
    }
    .card__botoes{
        justify-content: start;
    }
    .botoes__link{
        padding: 22px;
        border-radius: 10px;
    }
}