.rodape{
    border-top: solid 1px #858585;
    padding: 16px 0 12px 0;
    margin: 8% 4%;
}

.rodape__lista{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        gap: 2.5rem;
    }
    .rodape__lista{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}