@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}
html{
    background-color: #171716;
}
body{
    height: 100vh;
    color: #c4c1b9;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #171716;
    margin: 2%;
}
.link{
    font-family: 'Roboto', sans-serif;
    padding: 8px 12px;;
    background-color: grey;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border: 0;
}
.apresentacao{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.apresentacao__titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align: center;
}
.apresentacao__subtitulo{
    border: solid 1px whitesmoke;
    margin: 24px 0px;
    font-family: 'Roboto', sans-serif;
    color: rgba(34, 212, 253, 1);
    text-align: center;
    border-radius: 6px;
}
.apresentacao__texto{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 5px 10px;
    width: 400px;
    text-align: center;
}
img{
    margin: 32px 0;
    border-radius: 8px;
}
.rodape{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}