@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000000;
    color: #f6f6f6;
    box-sizing: border-box;
}
.cabecalho{
    display: flex;
    padding: 3% 0 0 8%;     
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}   
.cabecalho__menu__links{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #22D4FD;
    padding: 4px;
}
.cabecalho__menu__links:hover{
    color: #ffffff;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8%;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 593px;
    display: flex;
    flex-direction: column ;
    gap: 28px;
}
.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
}
.apresentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.apresentacao__conteudo__titulo-destaque, .apresentacao__conteudo__texto-destaque{
    color: #22D4FD;
}
.apresentacao__botao__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__botao{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}   
.apresentacao__botao__links{
    display: flex;
    justify-content: center;
    gap: 14px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #F6F6F6;
    padding: 14px;
    border: solid 2px #22D4FD;
    border-radius: 8px;
    width: 378px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.apresentacao__botao__links:hover{
    background-color: #272727;
    border-color: #f6f6f6; 
}
.rodape{
    padding: 18px;
    background-color: #22D4FD;
    color: #000000;
}
.rodape__texto{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}
